.companyModal .ant-btn-primary {
  margin-top: 14px;
  font-weight: 500;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fb2609;
  border-color: #fb2609;
}
.companyModal .ant-modal-title {
  font-size: 20px;
  font-weight: bold;
}
