@import '~antd/dist/antd.css';

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
    border-right:#00CC00;
}
    
.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #00CC00; 
}
.menu-style {
    font-size: 12px;
    font-weight: bolder;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #52c41a;
}

.ant-menu-item-group {
    padding-left: 9px;
}